main {
    margin:0;
    display: flex;
    align-items: center;
    height: 300px;
    justify-content: center;
}

section {
    padding: 20px;
    min-height: 100px;
    text-align: center;
    /* background-color: black; */
}
h1 {
    color:white;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 28px;

}

p {
    font-size: 20px;
    font-weight: 600;

}

.color-barcode-one, .color-barcode-two, .color-barcode-three {
    margin: 0 auto;
    height: 30px;
    width: 200px;
}

.color-barcode-one {background-color: aqua; }
.color-barcode-two {background-color: orange; }
.color-barcode-three {background-color: cornflowerblue; }

main {grid-area: main;
background-color: darkcyan;
}
.one {grid-area: one;}
.two {grid-area: two; }
.three {grid-area: three; }

/* this is a rule for my container before it gits to break points */
.container {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-areas: 
    "main"
    "one"
    "two"
    "three";
 
}

@media (min-width: 576px)
 {

.container {
display: grid;
/* grid-template-columns: 1fr; */
/* grid-template-rows: repeat (3, 1fr); */
grid-template-areas:
"main"
"one"
"two"
"three";

}

main {  
    background-color: darkcyan;
}

h2, p {
     color: white;
    

}
}

@media (min-width: 992px) {
    body {
        background-color: black;
        
    }
 .container {
     display: grid;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr,1fr; */
    grid-template-areas: 
    "main main main"
    "one two three";
    
 

 }
}